footer 
    div.footer
        div.footer-container
            div.logo
            p Ветклініка “Лапка”
            p Телефон: +380991232233
        div.footer-container
            p Головна
            p Про нас
            p Послуги
            p Особистий кабінет
