header 
    nav.menu 
        div.logo
        ul.main-menu
            each name in ['Головна', 'Про нас', 'Послуги']
                li
                    a(href="#")=name
            a.main-menu-button(href="#form")='Записатися на прийом'
        div.account
    div.header-content
        div.header-content-img
        div.header-content-text
            p Ветклініка
            h1 “Лапка” –
            p Де кожна лапка має значення ^-^